/*source: https://youtu.be/CZIJKkwc8l8?si=2AL5ehKjUqS3kgyP*/
.sparkle {
      height: 20px;
      width: 20px;
      background:#fff;
      background-image: "sparkle.png";
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 10000;
      pointer-events: none;
}
